body, html {
  background-color: #f6f6f6;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underline {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  /* AboutLists show over navbar for some reason */
  z-index: 10; 
  display: flex;
  justify-content: center;
}

.navbar-content {
  width: 80%;
  max-width: 1200px;
  column-gap: 1rem;
  display: flex;
  flex-direction: row;

}

.navbar h3 {
  margin: .5rem;
  padding-bottom: 6px;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin-top: 5rem;
}

.visualizer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visualizer {
  width: 80%;
  height: 35rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.visualizer-settings {
  width: 17%;
  height: 35rem;

  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  
}

/* .visualizer-setting { */
  /* margin-top: 5%; */
  /* padding-top: 50%; */
/* } */

.bars-container {
  /* background-color: #f6f6f6; */
  width: 90%;
  height: 90%;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
